.login {
    width: 30%;
    padding-left: 35%;
}

.apps {
    padding-top: 40px;
    background: #b0e8fb;
}

.appButton, .loginButton, .noticebox {
    margin: 10px;
}

.appView {
    width: 30%;
    height: 500px;
    padding-left: 5%;
    text-align: left;
}

.dataValueInput {
    width: 80%;
    height: 500px;
}

.valueInput {
    padding: 5px;
}

.dataValueList {
    width: 20%;
    margin-left: 5%;
    margin-top: 40px;
    text-align: left;
}

.flex {
    display: flex;
}

.visualization {
    background: #dadfe4;
    padding: 20px;
    margin-top: 20px;
}

.dataEntry {
    background: papayawhip;
    padding: 20px;
    margin-top: 20px;
}
